
/*  mobile navbar */
.mobile-navbar {
    display: flex;
    background-color: var(--clr-white);
    color: var(--clr-primary);
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
}
/* mobile navbar active state */
.mobile-navbar li.active {
    background-color: var(--clr-light); 
    font-size: medium;
}
/* mobile navbar anchor */

.mobile-navbar  a{
    text-decoration: none;
    color: var(--clr-secondary);
}


/* Hide the side navbar on mobile */
.side-navbar {
    display: none;
}
/*  mobile bar hamberger show*/
.side-navbar.show {
    display: block;
    width: 100px;

}
/*  side navbar  anchor on desktop*/
.side-navbar a {
    text-decoration: none;
    color: var(--clr-primary);
}
/*  top navbar hide on mobile*/
.top-navbar {
    display: none;
}
/*  desktop active state */
.logo-active-state {
    background-color: var(--clr-light); 
  }
.top-navbar-links a.active {
    background-color: var(--clr-light); 
  }

/*  website logo */
.logo-text {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
    text-decoration: none;
}
/*  hover state */
.side-navbar li:hover {
    text-decoration: underline;
    color: #a80000;
}
/*  hover state active state */
.side-navbar li.active {
    background-color: var(--clr-light); 
    font-size: medium;
}
/*  side navbar heading */
.side-navbar h3 {
    color: var(--clr-accent);
    margin-bottom: 10px;
}


/*---------------- Media query for desktop devices ------------*/
@media (min-width: 767px) {
/* Top Navbar styles */
.top-navbar {
    background-color: var(--clr-white);
    display: flex;

    font-size: 2rem;
  
}
/*  top navbar links  */
.top-navbar-links {
    background-color: var(--clr-white);
    display: flex;
    margin-left: 800px;
  

}
/*  top navbar anchor */
.top-navbar a {
    text-decoration: none;
    color: var(--clr-primary);
    margin-right: 80px;
    
}
/*  top navbar logo text */
.logo-text {
    font-size: 1.9rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
    text-decoration: none;
    margin-bottom: 10px;
}


/* Side Navbar styles */
.side-navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: var(--clr-white);
    padding: 10px;
    color: var(--clr-primary);
    width: 150px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
}
/*  side navbar list */
.side-navbar ul {
    list-style-type: none;
}
/*  side navbar heading */
.side-navbar h3 {
    color: var(--clr-accent);
    margin-bottom: 10px;
}
/* side navbar list  */
.side-navbar li {
    margin-bottom: 1px;
}
/*  side navbar active state */
.side-navbar li.active {
    background-color: var(--clr-light); 
}

/* Initially hide the mobile navbar */
.mobile-navbar {
    display: none; 
    
}
.mobile-side-navbar{
    display: none;
}







.show-mobile{
    display: none;
}



}

/*------------------------------color swatch----------------*/
/* float swatches to right */

/* color box */
.color-box-primary {
    background-color: #333333;
    width: 100px;
    border: 2px solid;
    color: #333333;
}
/* color box */
.color-box-secondary {
    background-color: #a9a9a9;
    width: 100px;
    border: 2px solid;
    color: #a9a9a9;
}
/* color box */
.color-box-accent {
    background-color: #a80000;
    width: 100px;
    border: 2px solid;
    color: #a80000;
}
/* color box */
.color-box-white {
    background-color: white;
    width: 100px;
    border: 2px solid black;
    color: white;
}

.color-box-white-tone {
    background-color: #808080;
    width: 100px;
    border: 2px solid black;
    color: #808080;
}


/* color content box */
.color-details {
    padding: 10px;
    border: 1px solid #ddd;
}
/* color deatil list*/
.color-details li {
    list-style-type: square;
    margin-left: 20px;
}

/* Styles for Contrast Ratio Pass/Fail */
.color-details p:last-child {
    font-weight: bold;
    margin-top: 10px;
}


/* ---------------------- typography---------------------*/
/* typography  box */

/* table */
table {
    width: 100%;
    border-collapse: collapse;
}
/* style the table */
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td{
    padding: 10px;
}
/* typography list */
.c-typography-list, .c-font-uses{
    margin:10px;
}
/* typography  sublist */
.c-typography-sublist{
    margin-top: 20px;
    
}
/* header font */
.char-set-header{
    padding: 30px 20px;
}
/* sub heading */
.u-font-subheading{
    padding: 10px 2px 20px 2px;

}

/*------------about page----*/

img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
/* Limit paragraph width */
.max-width-paragraph {
    max-width: 80ch; 
  }
  





/* -------container page ------*/

  /* Table container */
  .table-container {
    max-width: 800px;
    margin: 0 auto;
    
  }
.table-container th{
    font-size: 2rem;
}




.Example
{
border: 1px solid black;
}

