/* variables  */
:root {
    --clr-primary: black;
    --clr-secondary: dark grey;
    --clr-accent: #A80000;
    --clr-light: lightgrey;
    --clr-white: white;
  }
 /* css reset */
  body,
h1, h2, h3, p, figure, picture {
  margin: 0;
}
ul, ol {
  padding: 0;
  
}

.mobile-navbar {
    display: flex;
    background-color: var(--clr-white);
    color: var(--clr-primary);
    padding: 10px;
    justify-content: space-between;
    cursor: pointer;
}

.mobile-navbar  a{
    text-decoration: none;
    color: var(--clr-secondary);
}


/* Hide the side navbar on mobile */
.side-navbar {
    display: none;
}
.side-navbar.show {
    display: block;
}
.side-navbar a {
    text-decoration: none;
    color: var(--clr-primary);
}
.top-navbar {
    display: none;
}
.logo-text {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
    text-decoration: none;
}
.side-navbar li:hover {
    text-decoration: underline;
}
.side-navbar li.active {
    background-color: var(--clr-light); 
}


/* Media query for desktop devices */
@media (min-width: 767px) {
    
/* Top Navbar styles */
.top-navbar {
    background-color: var(--clr-white);
    padding: 20px;
    display: flex;
    
}
.top-navbar-links {
    background-color: var(--clr-white);
    padding: 20px;
    display: flex;
    margin-left: 1000px;
    
}

.top-navbar a {
    text-decoration: none;
    color: var(--clr-primary);
    margin-right: 1px;
}
.logo-text {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color: #333; /* Adjust the color as needed */
    text-decoration: none;
}


/* Side Navbar styles */
.side-navbar {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    padding: 10px;
    color: var(--clr-primary);
    width: 250px;
}

.side-navbar ul {
    list-style-type: none;
}

.side-navbar h3 {
    color: var(--clr-accent);
    margin-bottom: 10px;
}

.side-navbar li {
    margin-bottom: 1px;
}
.side-navbar li.active {
    background-color: var(--clr-light); 
}

/* Mobile Navbar styles */
.mobile-navbar {
    display: none; /* Initially hide the mobile navbar */
    
}
}

/* Utility Classes */
.text-primary {
    color: var(--clr-primary);
}

.text-secondary {
    color: var(--clr-secondary);
}

.text-accent {
    color: var(--clr-accent);
}

.text-light {
    color: var(--clr-light);
}

.text-white {
    color: var(--clr-white);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.bg-accent {
    background-color: var(--clr-accent);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-white {
    background-color: var(--clr-white);
}

.text-primary-light {
    color: var(--clr-primary-100);
}

.bg-primary-light {
    background-color: var(--clr-primary-100);
}

.text-primary-dark {
    color: var(--clr-primary-300);
}

.bg-primary-dark {
    background-color: var(--clr-primary-300);
}