html{
    font-size: 62.5%;
    
  }

  /*----- css reset -----*/
  body,
h1, h2, h3, p, figure, picture {
  margin: 0;
  
}
ul, ol {
  padding: 0;
  
}


/* ------------------variables-----------------------  */
:root {
    --clr-primary: black;
    --clr-secondary:  dark grey;
    --clr-accent: #A80000;
    --clr-light: gray;
    --clr-white: white;
   

    
  /* Font families */

  --font-family-heading: 'Roboto',serif;
  --font-family-body: 'Open Sans', sans-serif;
  --font-family-buttons: 'Poppins', sans-serif;


    /* Font Sizes */
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2.0rem;
  --font-size-p: 1.8rem;
  --font-size-list: 1.6rem;
  --font-size-buttons: 2.0rem;
  --font-size-forms: 1.6rem;

  /* Font Weight */
  --font-weight-heading: 700; /* Bold */
  --font-weight-body: 400; /* Regular */
  --font-weight-buttons: 500; /* Medium */

   /* Letter spacing */
 
   --letter-spacing-1: 1px;
   --letter-spacing-2: 2px; 
   --letter-spacing-3: 3px; 

   --line-height-body: 1.5;
   --line-height-heading: 1.2;
   --line-height-list:1.4;

  }


  /* google fonts link */
  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* --------------------Utility Classes  color --------------------- */
.text-primary {
    color: var(--clr-primary);
}

.text-secondary {
    color: var(--clr-secondary);
}

.text-accent {
    color: var(--clr-accent);
}

.text-light {
    color: var(--clr-light);
}

.text-white {
    color: var(--clr-white);
}

.bg-primary {
    background-color: var(--clr-primary);
}

.bg-secondary {
    background-color: var(--clr-secondary);
}

.bg-accent {
    background-color: var(--clr-accent);
}

.bg-light {
    background-color: var(--clr-light);
}

.bg-white {
    background-color: var(--clr-white);
}

.text-primary-light {
    color: var(--clr-primary-100);
}

.bg-primary-light {
    background-color: var(--clr-primary-100);
}

.text-primary-dark {
    color: var(--clr-primary-300);
}

.bg-primary-dark {
    background-color: var(--clr-primary-300);
}




/*----------- Typography Utility Classes ------------------- */

.u-font-heading {
    font-family: var(--font-family-heading);
  }
  
  .u-font-body {
    font-family: var(--font-family-body);
  }
  
  .u-font-buttons {
    font-family: var(--font-family-buttons);
  }
  
  .u-font-weight-bold {
    font-weight: var(--font-weight-heading);
  }
  
  .u-font-weight-regular {
    font-weight: var(--font-weight-body);
  }
  
  .u-font-weight-medium {
    font-weight: var(--font-weight-buttons);
  }
  
  .u-font-size-h1 {
    font-size: var(--font-size-h1);
  }
  
  .u-font-size-h2 {
    font-size: var(--font-size-h2);
  }
  
  .u-font-size-h3 {
    font-size: var(--font-size-h3);
  }
  
  .u-font-size-p {
    font-size: var(--font-size-p);
  }
  
  .u-font-size-list {
    font-size: var(--font-size-list);
  }
  
  .u-font-size-buttons {
    font-size: var(--font-size-buttons);
  }
  
  .u-font-size-forms {
    font-size: var(--font-size-forms);
  }
  
  /* Utility classes for letter spacing */
  .u-letter-spacing-1 {
    letter-spacing: 1px;
  }
  
  .u-letter-spacing-2 {
    letter-spacing: 2px;
  }
  
  .u-letter-spacing-3 {
    letter-spacing: 3px;
  }
  
  /* Utility classes for line height */
  .u-line-height-body {
    line-height: 1.5;
  }
  
  .u-line-height-heading {
    line-height: 1.2;
  }
  
  .u-line-height-list {
    line-height: 1.4;
  }
  
  
  
  /* Heading (H1) */
  .u-font-headings {
    font-family:'Roboto',serif;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  
  /* Subheading (H2) */
  .u-font-subheading {
    font-family: 'Roboto',serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  
  /* Sub-subheading (H3) */
  .u-font-sub-subheading {
    font-family: 'Roboto',serif;
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }
  
  /* Body Text (P) */
  .u-font-body-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }
  
  /* List Items */
  .u-font-list-item {
    font-family:  'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }
  
  /* Buttons, CTAs */
  .u-font-buttons {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }



/* ----------------   Margin utility classes ---------- */


.l-m-1 {
  margin: 1rem;
}

/* 16px */
.l-mt-1 {
  margin-top: 1rem;
}

.l-mb-1 {
  margin-bottom: 1rem;
}

.l-ml-1 {
  margin-left: 1rem;
}

.l-mr-1 {
  margin-right: 1rem;
}

.l-mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.l-m-1-25 {
  margin: 1.25rem;
}

/* 20px */
.l-mt-1-25 {
  margin-top: 1.25rem;
}

.l-mb-1-25 {
  margin-bottom: 1.25rem;
}

.l-ml-1-25 {
  margin-left: 1.25rem;
}

.l-mr-1-25 {
  margin-right: 1.25rem;
}

.l-mx-1-25 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.l-my-1-25 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.l-m-1-5 {
  margin: 1.5rem;
}

/* 24px */
.l-mt-1-5 {
  margin-top: 1.5rem;
}

.l-mb-1-5 {
  margin-bottom: 1.5rem;
}

.l-ml-1-5 {
  margin-left: 1.5rem;
}

.l-mr-1-5 {
  margin-right: 1.5rem;
}

.l-mx-1-5 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.l-my-1-5 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.l-m-2 {
  margin: 2rem;
}

/* 32px */
.l-mt-2 {
  margin-top: 2rem;
}

.l-mt-6 {
  margin-top: 6rem;
}

.l-mb-2 {
  margin-bottom: 2rem;
}

.l-ml-2 {
  margin-left: 2rem;
}

.l-mr-2 {
  margin-right: 2rem;
}

.l-mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.l-my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
